.color{
    color: blue;
    padding: 12px;
}
.col{
    background-color: coral;
}
.fl{
    float: right;
    
}
.move{
    float: right;
    margin-top:-40px;
     margin-left:10px;";
}